// Colors

// Primary
$LightRed: hsl(356, 100%, 66%);
$VeryLightRed: hsl(355, 100%, 74%);
$VeryDarkBlue: hsl(208, 49%, 24%);
// Neutral
$White: hsl(0, 0%, 100%);
$VeryLightGray: hsl(0, 0%, 98%);
$GrayishBlue: hsl(240, 2%, 79%);
$VeryDarkGrayshBlue:hsl(207, 13%, 34%);
$VeryDrakBlackBlue: hsl(240, 10%, 16%);
// Gradient
$GradVeryLightRed: hsl(13, 100%, 72%);
$GradLightRed: hsl(353, 100%, 62%);
$VeryDarkGreyBlue: hsl(237, 17%, 21%);
$VeryDarkDesaturetedBlue: hsl(237, 23%, 32%);

// Fonts size
$font-xsm: 0.75rem;
$font-sm: 0.875rem;
$font-med: 1.125rem;
$font-lg: 1.375rem;
$font-xlg: 2.9375rem;


